* {
    padding: 0px;
    margin: 0px;
    font-family: comfortaa;
}

.hit-p300-mania {
    background-color: rgba(50, 205, 50, 0.667);
}
.hit-300-mania {
    background-color: rgba(50, 205, 50, 0.667);
}
.hit-200-mania {
    background-color: rgba(138, 43, 226, 0.667);
}
.hit-100-mania {
    background-color: rgba(138, 43, 226, 0.667);
}
.hit-50-mania {
    background-color: rgba(255, 69, 0, 0.667);
}
.hit-miss-mania {
    background-color: rgba(255, 69, 0, 0.667);
}

.hit-100 {
    background-color: rgba(50, 205, 50, 0.667);
}
.hit-50 {
    background-color: rgba(138, 43, 226, 0.667);
}
.hit-miss {
    background-color: rgba(255, 69, 0, 0.667);
}

.hit-text {
    color: white;
    justify-self: center;
    text-align: center;
}

.hit {
    padding: 7px 5px;
    align-self: center;
    text-align: center;
    min-width: 45px;
    font-size: 18px;
}

.box {
    border-radius: 200px
}

.box {
    padding: 25px;
    padding-left: 27px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hit:first-child {
    border-radius: 50px 0px 0px 50px;
}
.hit:last-child {
    border-radius: 0px 50px 50px 0px;
}

.inner {
    display: flex;
}

.hits {
    display: flex;
}

.pp {
    color: white;
    margin-left: auto;
    align-self: center;
}

.ds {
    filter: drop-shadow(0px 0px 5px #0004);
}

[v-cloak] { display: none; }

.hide {
    display: none;
}