[submodule "submodules/osu"]
	path = submodules/osu
	url = https://github.com/Piotrekol/osu
[submodule "submodules/ProcessMemoryDataFinder"]
	path = submodules/ProcessMemoryDataFinder
	url = https://github.com/Piotrekol/ProcessMemoryDataFinder