<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Single token output</title>
    <link href="./main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap" rel="stylesheet" />

    <!-- This is a development version of Vue.js -->
    <script src="https://unpkg.com/vue@3.2.14/dist/vue.global.js"></script>
    <script src="/lib/reconnecting-websocket.js"></script>
    <script src="/lib/consts.js"></script>
    <script src="/lib/utils.js"></script>
  </head>

  <body>
    <div id="app" v-cloak>
      <div v-if="!!tokenName" class="large">
        {{getToken(tokenName, decimals)}}
      </div>
      <div v-else>
        <div class="large">Set token name in overlay url!</div>
        <div>examples:</div>
        <div v-for="ex in examples">
          <div>{{ex.text}} <a :href="ex.url">{{ex.url}}</a> - Result: {{getToken(ex.token,ex.decimals)}}</div>
        </div>
      </div>
    </div>
    <script src="./main.js" type="module"></script>
  </body>
</html>
